<section class="container">
    <h1>Beaches list</h1>
    <hr>

    <div class="row">
      {{#each allBeaches}}

      
      <h2><a href="/beaches/{{_id}}" style="text-decoration: none;">{{this.name}}</a></h2> 

      <img width="20%" style="border-radius: 10%;" src="{{this.imageUrl}}" alt="{{this.name}}"/>       

      <a target="_blank" href="https://www.google.com/maps/place/{{this.location.lat}},{{this.location.lng}}">{{this.address}}</a>
      
      {{/each}}
    </div>
</section>