<section class="container">
    <h1>Beaches list</h1>
    <hr>

    <div class="row">
    <ul>
      {{#each allBeaches}}
      <li>
        
        <h2><a href="/beaches/{{_id}}">{{this.name}}</a></h2> 

        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference={{this.photo.photo_reference}}&key=AIzaSyB4leYrdl-cauD6P_Yp5a96puee2MOIWDY" alt="{{this.name}}" />        

        <a target="_blank" href="https://www.google.com/maps/place/{{this.location.lat}},{{this.location.lng}}">{{this.address}}</a>
       </li>
      {{/each}}
    </ul>
    </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="/beaches">1</a></li>
      <li class="page-item"><a class="page-link" href="/beaches/2">2</a></li>
      <li class="page-item"><a class="page-link" href="/beaches/3">3</a></li>
    </ul>
  </nav>
</section>