<section class="container">
    <h1>Beaches list</h1>
    <hr>

    <div class="row">
    <ul>
      {{#each beaches}}
      <li>
        
        <h2><a href="/beaches/">{{this.name}}</a></h2> 
{{!--         <img src="{{this.photo.photo_reference}}" alt="{{this.name}}" />
 --}}        <p>Location: {{this.formatted_address}}</p>
            <a target="_blank" href="https://www.google.com/maps/place/{{this.geometry.location.lat}},{{this.geometry.location.lng}}">{{this.formatted_address}}</a>

       </li>
      {{/each}}
    </ul>
    </div>

</section>