<section class="container pt-5">
    <div class="d-flex justify-content-between align-items-end pt-4">
        <h1 class="mt-4" style="font-family: 'Bebas Neue';">{{selectedBeach.name}}</h1>
        <div class="d-flex justify-content-center">
            <form action="/beaches/edit/{{selectedBeach._id}}" method="get">
            <button type="submit" style="color: black" class=" mx-4 p-4 border border-success rounded-circle bg-light" href="/beaches/edit/{{selectedBeach._id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
            </button>
            </form>
            <form action="/beaches/delete/{{selectedBeach._id}}" method="post">

            <button type="submit" style="background: none;" class="p-4 border border-black rounded-circle bg-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
            
</button>
            </form>

            {{#if isInFav}}

            <form id="form2" class="like-btn p-0 mx-4" action="/remove-favorites/{{selectedBeach._id}}" method="post">
                <button form="form2" type="submit" class="btn p-4 border border-danger rounded-circle bg-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </button>
            </form>
            {{else}}

            <form id="form1" class="like-btn p-0 mx-4" action="/add-favorites/{{selectedBeach._id}}" method="post">
            <button type="submit" form="form1" class="p-4 border border-danger rounded-circle bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg></button>
            </form>

            {{/if}}
        </div>
    </div>
    <hr>

    <div class="row">
        <img class="border border-white rounded p-0" src="{{selectedBeach.imageUrl}}" alt="{{selectedBeach.name}}" />
        <div class="d-flex row">
        
            <p class="form-control mt-2" >{{selectedBeach.description}}</p>
            <div class="d-flex justify-content-between">
                <p class=""><b> Location: </b><a target="_blank" href="https://www.google.com/maps/place/{{selectedBeach.location.lat}},{{selectedBeach.location.lng}}">{{selectedBeach.address}}</a></p>

                <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gold" class="bi bi-star-fill mr-3" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    
                    <h4 class="ml-3 mb-0"><b>{{selectedBeach.rating}}</b></h4>
                </div>
                <p><b> Coordinates:</b> <a target="_blank" href="https://www.google.com/maps/place/{{selectedBeach.location.lat}},{{selectedBeach.location.lng}}">{{selectedBeach.location.lat}},{{selectedBeach.location.lng}}</a></p>
            </div>
        </div>

    </div>

</section>