<section class="container">
    {{#each allBeaches}}
    <h1>{{this.name}}</h1>
    <hr>
    <div class="row">
        <h2>{{this.name}}</h2>
        {{!-- <img src="{{this.photo.photo_reference}}" alt="{{this.name}}" />
        --}} 
        
        <p class="form-control" >{{description}}</p>

        <p>Location: {{this.formatted_address}}</p>

        <p>Coordinates: {{this.geometry.location.lat}}, {{this.geometry.location.lng}}</p>

        <p></p>

        {{/each}}
    </div>

</section>