<section class="container">
    <h1>{{this.name}}</h1>
    <a href="/beaches/edit/{{this._id}}">Edit Beach</a>
    <a href="/beaches/delete/{{this._id}}">Delete Beach</a>
    <hr>
    <div class="row">
        {{!-- <img src="{{this.photo.photo_reference}}" alt="{{this.name}}" />
        --}} 
        
        <p class="form-control" >{{this.description}}</p>

        <p>Location: <a target="_blank" href="https://www.google.com/maps/place/{{this.location.lat}},{{this.location.lng}}">{{this.address}}</a></p>

        <p>Coordinates: <a target="_blank" href="https://www.google.com/maps/place/{{this.location.lat}},{{this.location.lng}}">{{this.location.lat}},{{this.location.lng}}</a></p>

        <p></p>

    </div>

</section>